body{
    margin: 0px;
    padding: 0px;
}
.full-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 246, 196);
    /* background-color: rgb(249, 235, 14); */
}
.message{
    width: 400px;
    min-height: 200px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(238, 95, 38);
    border-radius: 5px;
    background-color: rgb(249, 235, 14);
}
.logo{
    width: 180px;
    height: 180px;
    border: 1px solid rgb(238, 95, 38);
    border-radius: 2px;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
}
.text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(236, 61, 4);
}
.text a{
    white-space: nowrap;
}